.near-stations {

    background-color: white;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 430px;
    height: 350px;
    overflow: scroll;
    border-radius: 5px;
}

.near-stations__icon {
    padding: 0.2rem;
    margin: 10px 10px 0px 0px;
}

.near-stations__list h3 {
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.near-stations__list-item {
    list-style: none;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.near-stations__list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}