.hotReportsPage {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px -15px;
    padding: 2rem;
    background-color: whitesmoke;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: row;
}

.hotReportsPage-center {
    width: 80%;
}

.hotReportsPage-center h1 {
    margin: 2rem 0rem 1rem 0rem;
}

.hotReportsPage {
    padding: 20px;
}

.reportsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reportItem {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}