.formReport {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px -15px;
    padding: 2rem;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.center-formReport {
    margin-top: 2rem;
    width: 70%;
    min-width: 400px;
    max-width: 930px;
}

.formGrid {
    /* display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    grid-template-areas: "text map"; */
    display: flex;
    justify-content: space-between;
}

.required-field::after {
    content: " *";
    color: red;
    font-weight: bold;
    margin-left: 5px;
    position: relative;
    top: -1px;

}

@media all and (max-width: 1000px) {
    .formGrid {
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        grid-template-areas: "text" "map";
    }
}

.textColum {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mapColum {
    grid-area: map;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;
    justify-content: flex-start;
}

.mapColum label {
    margin-bottom: 0.5rem;
}

.mapSwitch {
    display: flex;
    justify-content: space-between
}

.mapSwitch div {
    padding: 0.7rem 1.5rem;
    border: 1px solid rgb(209, 212, 216);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

.formReport select,
.formReport textarea,
.formReport input {
    margin-bottom: 0.5rem;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 0.2rem;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    max-width: 400px;
}

.emptySelect {
    outline: 2px solid red;
}

.fullSelect {
    outline: none
}

.formReport button {
    margin-top: 2rem;
    width: 6rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.formReport h1 {
    margin-bottom: 2rem;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    border: 1px solid rgb(209, 212, 216);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #040404;
    font-size: .85rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .45rem 0.8rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.1s ease-in-out, transform 0.3s ease-in-out;
    /* Smooth hover transitions */
}

button:hover {
    background-color: #eeeeee;
    /* Darker shade on hover */
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

@media all and (max-width: 950px) {
    .formReport {
        /*         padding: 2rem 1rem;
        margin: 0% 9% 6% 9%; */
    }

    .formGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .formReport select,
    .formReport textarea {
        font-size: 1rem;
    }

    .mapColum {
        justify-content: flex-start;
        padding-left: 0%;
    }
}

@media all and (max-width: 500px) {

    .formGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .formReport select,
    .formReport textarea {
        font-size: 1rem;
    }
}

.report-send {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.report-send h1 {
    color: black;
    font-size: 2rem;
}

.report-send h2 {
    color: black;
    font-size: 1rem;
    margin: 0;
}

.success-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.circle-check {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid green;
    position: relative;
    animation: circle-grow 1s ease-out forwards;
}


.circle-check::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    transform: rotate(45deg);
    top: 22px;
    left: 35px;
    opacity: 0;
    animation: check-draw 0.5s 1s ease forwards;
}

@keyframes circle-grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes check-draw {
    to {
        opacity: 1;
    }
}