
.header{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #195DD9;
}

.montserrat-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.3rem;
    color: #EC7EFF;
}

.marker{
    width: 38px;
    height: 38px;
}

.primary-path {
    fill: green;
    stroke: green;
    
  }
  
.secondary-path {
    fill: rgb(31, 85, 22);
    stroke: rgb(31, 85, 22);
}