.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #333333;
}

.header {
    padding: 0.5rem 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    transition: padding 0.3s ease-in-out;
    width: 90%;
}

.montserrat-title {
    font-weight: 700;
    font-size: 1.7rem;
    color: #d69be1;
    transition: font-size 0.3s ease-in-out;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    transition: gap 0.3s ease-in-out, font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.navbar a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;
}

.navbar a:hover {
    color: #ffffff;
    transition: font-weight 0.3s ease-in-out;
}


.logIn {
    background-color: #ffffff;
    display: flex;
    border-radius: 5px;
}

.logIn a {
    color: black;
}

.language-container {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 30px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 120px;
    border-radius: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}



/* Version mobil */
@media all and (max-width: 600px) {
    .montserrat-title {
        font-size: 1.3rem;
    }

    .header {
        padding: 0.5rem;
        width: 100%;
        flex-direction: column;
    }

    .navbar {
        display: none;
    }
}

@media all and (min-width: 1400px) and (max-width: 1600px) {
    .header {
        padding: 1rem;
    }
}



@media all and (min-width: 850px) and (max-width: 1400px) {
    .header {
        padding: 0.5rem;
        flex-direction: column;
        gap: 0.4rem;
        width: 100%;
    }
}

@media all and (min-width: 600px) and (max-width: 850px) {
    .header {
        padding: 0.5rem;
        width: 100%;
        flex-direction: column;
        gap: 0.3rem;

    }

    .header a {
        font-size: 0.9rem;
    }

    .navbar a {
        border-radius: 3% 3% 0 0 / 6% 6% 0 0;
    }
}