.App {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    

}

html, body, #root, .mainBox {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.mainBox{
    background-color: #195DD9;
}


.leaflet-container{
    height: 90vh;
}


.cluster-icon {
    background-color: #195DD9;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 2px #fff;
  }